<!DOCTYPE HTML>

<html>
  <head>
    <title>Kakeibo By Seattle girls</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
<body class="landing">
  <!-- Page Wrapper -->
  <div id="page-wrapper">
    <!-- Banner -->
    <section id="banner">
      <div class="inner">
        <input type="hidden" name = "id" th:value="${id}" />
        <section id="cta" class="wrapper style4">
          <div class="inner">
            <header>
              <h2>家計簿アプリ</h2>
              <p>わずか3秒で出費を記録。</p>
              <p>今度こそ続く家計簿。</p>
            </header>
            <div class="actions vertical">
              <div style="float:left;">
                <p th:text="${date}"></p>
                  <table>
                    <tr th:each="dsList : ${dsList}">
                      <td th:text="${dsList.category}"></td>
                      <td th:text=" '  ¥' + ${dsList.dailySum}"></td>
                      <td>
                        <form  th:action="@{/edittop}" th:object="${ds}" method="get">
                          <input type="submit" value="編集"/>
                          <input type="hidden" name = "dataId" th:value="${dsList.dataId}"/>
                        </form>
                      </td>
                      <h3 th:text="${message1}"></h3>
                      <td>
                        <form th:action="@{/editdel}" th:object="${ds}" method="GET">
                          <input type="submit"  value="削除" />
                          <input type="hidden" name = "dataId" th:value="${dsList.dataId}"/>
                        </form>
                      </td>
                    </tr>
                  </table>
                  <form th:action="@{/top}" th:object="${users}" method="get">
                    <a href='http://localhost:8080/top'><button class="button special">TOP</button></a>
                  </form>
                </div>
              </div>
            </div>
          </section>
        </div>
      </section>
    </div>
  </body>
</html>