<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>daily expense</title>
<link rel="history" href="/css/history.css" />
</head>
<body>
 <div Align="center">
    <form th:action="@{/top}" th:object="${users}" method="get">
        <a href='http://localhost:8080/top'>
        <img src="kakeibo.jpg" width="100" height="100" alt="logo"></img></a>
        <input type="hidden" name = "id" th:value = "${id}" />
    </form>
		<h1>りれき</h1>
	 	<a th:href="@{http://localhost:8080/details_month(id=${id})}">月別表示</a>
	 	<form th:action="@{/history}" th:object="${categorySum}" method="post">
		<table>
			<tr>
				<th>日付</th>
				<th>支出額</th>
			</tr>
				<tr th:each="ds : ${ds}">
				<td th:text="${ds.date}"></td>
				<td th:text=" '  ¥' + ${ds.sum}"></td>
				<td> <a th:href="@{http://localhost:8080/details_day(date=${ds.date})}">詳細</a></td>
				<input type="hidden" name = "dataId" th:value="${dataId}" />
			</tr>
		</table>
	</form>
	</div>
</body>
</html>